* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #027373;
}

.box {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  color: #038c7f;
  max-width: 100%;
}

#city {
  border: none;
  margin-left: 0.2rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

#city:focus {
  outline: none;
}

.result {
  text-align: center;
  display: none;
}

.weather img {
  width: 150px;
  margin-top: 1rem;
}

.temperature {
  display: flex;
  justify-content: center;
}

.temperature-number {
  font-size: 4rem;
  font-weight: 700;
}

.temperature-description {
  text-transform: capitalize;
  line-height: 0.1rem;
  padding-bottom: 2rem;
}

.temperature span {
  font-size: 1.5rem;
}

.others {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  line-height: 1.2rem;
}

.others-box {
  display: inherit;
  align-items: center;
}

.others-result {
  text-align: left;
  margin-left: 0.5rem;
}

.others-result span {
  font-weight: 500;
}

.error {
  text-align: center;
  display: none;
}

.error img {
  width: 200px;
  margin: 2rem 0rem;
}
